
header{
    background-color: green;
}

.container-custom{
    margin:auto;
    max-width: 500px;
}



.nav-top ul{
    display: flex;
    align-items: center;
}

.nav-top a{
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

.nav-top li{
    list-style: none;
}


header{
    background-color: #2c3e50;
}


.hero, .about, .btn-download{
    background-color: #1abc9c;
}

.title{
    font-size: 40px;
}

.line-star{
    background-color: white;
    height:3px;
    width: 100px;
}


.portfolio{
    width: 100%;
}

.btn-download{
    border-radius: 5px;
    border: 0.5px solid white;
}